header {
    justify-items: center;
    height: 4vh;
    border: 4px solid lightblue;
    border-top: 0;
}

h1 {
    font-family: "inter";
    font-weight: 500;
}

button {
    border: .5px solid black;
    border-radius: 0;
    font-size: large;
    color: white;

}

#crawl-section {
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;
    border-bottom: 2px solid lightblue;
}

#crawl-section > h1 {
    padding-right: 15px;
    height: 34px;

}

#crawl-section > input {
    height: 30px;
    width: 50%;
    margin-top: 25px;
    justify-content: center;
    border: .5px solid black;
    border-radius: 0;
}

#crawl-section > button {
    height: 34px;
    margin-top: 25px;
    border-left: 0;
    background: #1771BB;
}

#search-header {
    text-align: center;
    margin-top: 5%;
}

#search-section {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

#search-section > input, button, label, select
{
    height: 30px;
    margin-bottom: 10px;
}

#search-button {
    margin-left: -10px;
    background: #1771BB;
    border-left: 0;
}



#search-section > input {
    width: 40%;
    display: flex;
    justify-content: center;
    border: .5px solid black;
    border-radius: 0;
}

#search-section > label {
    padding-top: 5px;
    font-size: large;
    
}

#table-container {
    position: relative;
    width: 90%;
    display: block;
    margin: auto;
}

#table-container > button {
    margin: 0px;
    margin-bottom: 1px;
}

#delete-all-button {
    display: inline-block;
    background: red;
}

#delete-selected-button {
    position: absolute; 
    background-color: lightslategray;
    right: 0;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;

}

th, td {
    border: 1px solid black;
}

.short-column {
    width: 10%;
}

.long-column {
    width: 30%;
}
